@{
    ViewBag.Title = "";
    ViewBag.MetaKeywords = "купить заказать рулонная штора blackout пластиковое окно оконный проем";
    ViewBag.MetaDescription = "заказ рулонных штор на пластиковые окна и оконные проемы";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/SiteLayout.cshtml";
}

<link href="/Content/Styles/gallery.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/gallery.js" type="text/javascript"></script>

<div class="mainPageB">

    <div class="textfield">
        
        <div class="gallery" id="main_gallery1">
            <div class="main_slide">
                <img src="/Content/Images/Gallery/3.jpg" alt="" />
            </div>
            <div class="right_slide">
                <img src="/Content/Images/Gallery/1.jpg" alt="" />
                <img src="/Content/Images/Gallery/2.jpg" alt="" />
                <img src="/Content/Images/Gallery/4.jpg" alt="" />
                <img src="/Content/Images/Gallery/5.jpg" alt="" />
                <img src="/Content/Images/Gallery/6.jpg" alt="" />
            </div>

            <div class="bottom_slide">
                <img src="/Content/Images/Gallery/12.jpg" alt="" />
                <img src="/Content/Images/Gallery/11.jpg" alt="" />
                <img src="/Content/Images/Gallery/10.jpg" alt="" />
                <img src="/Content/Images/Gallery/9.jpg" alt="" />
                <img src="/Content/Images/Gallery/8.jpg" alt="" />
                <img src="/Content/Images/Gallery/7.jpg" alt="" />
            </div>
        </div>

        <div class="header">
            <h1 style="width:100%; text-align:center;">Рулонные шторы</h1>
            <div class="subheader"></div>
        </div>

        <!-- общие преимущества рулонок -->
        <p>
            Рулонные шторы – относительно молодая разновидность жалюзи. Несомненное их достоинство в том, что они, с одной стороны, защищают помещение от солнечных лучей и посторонних взглядов, с другой, в отличие от традиционных жалюзи, позволяют украсить помещение, подобрав оттенок ткани и рисунок на ней в соответствии с дизайном – цветом стен и мебели.
        </p>
        <p>
            Рулонные шторы отлично гармонируют с обычными занавесками. Рулонки защищают комнату от солнечных лучей, а занавески - придают ей привычный уют. 
        </p>
        <p>
            Рулонные шторы обладают возможностью, которой лишены обычные горизонтальные или вертикальные жалюзи – они могут частично пропускать свет, рассеивая его. 
            Если Вы закроете обычные горизонтальные жалюзи, помещение погрузится в полумрак. Если Вы опустите рулонную штору с обычной тканью, помещение будет залито рассеянным светом, которого будет достаточно чтобы обойтись без 
            электрического освещения, при этом в комнате станет прохладней.
        </p>
        <p>
            Весь фокус в ткани. Ткани для рулонных штор бывают двух типов – обычные и blackout («блэкаут»). Они отличаются друг от друга степенью пропускания света. Обычные ткани дают рассеянный свет, blackout, подобно плотным занавесям,
            полностью преграждают солнечным лучам доступ в помещение. Такие ткани особенно удобно использовать в спальнях и детских.
        </p>
        <p>
            Шторы устанавливаются на каждую створку Вашего окна, а не на все окно в целом. Благодаря этому и специальным направляющим Вы можете добиться полной светоизоляции. А при открывании или откидывании створки штора
            останется с ней единым целым – не будет болтаться, не будет препятствовать открытию и оставит подоконник свободным.
        </p>
        <p>
            Cуществует масса оттенков и дизайнов материи для рулонных штор (в нашем <a href="/Palette">каталоге образцов</a> их более 300), что позволит Вам подобрать оттенок под цвет стен или мебели.
        </p>
        <p>
            При помощи рулонной шторы Вы можете закрыть часть проема. Например, если солнце стоит высоко, достаточно лишь слегка опустить штору, чтобы защититься от прямых лучей, падающих, на экран компьютера.
        </p>
        <p>
            Ткань рулонной шторы расположена вертикально, следовательно, она не пылится.
        </p>

        <br/>

        @*<p>
            Предлагаем Вашему вниманию <a href="/Systems">несколько видов рулонных штор</a>, предназначенных для установки на любые современные пластиковые, деревянные или алюминиевые окна. 
        </p>*@

        <div class="header">
            <h2 style="width:100%; text-align:center;">Рулонные шторы на створки пластиковых окон</h2>
            <div class="subheader"></div>
        </div>

        <p>
            <strong>Системы устанавливаются на створку окна вплотную</strong>. Чтобы исключить проникновение прямых солнечных лучей и посторонних взглядов, они снабжены объемными направляющими, прижимающими полотно по краям@*. 
            В варианте без направляющих эту задачу решают магниты, которые подтягивают ткань к створке*@:
        </p>
        <div class="triptych">
            <div style="width: 50%;">
                <a href="/Content/Images/Illustrations/main1.jpg" target="_blank">
                    <img src="/Content/Images/Illustrations/main1.jpg" alt="blackout днем" height="250"/>
                    <p>два окна в солнечный день - слева blackout,<br/> справа обычная ткань</p>
                </a>
            </div>
            <div style="width: 50%;">
                <a href="/Content/Images/Illustrations/main2.jpg" target="_blank">
                    <img src="/Content/Images/Illustrations/main2.jpg" alt="фото с улицы" height="250"/>
                    <p>фото с улицы ночью, для сравнения<br/> одна штора поднята</p>
                </a>
            </div>
        </div>

        <p>
            <strong>Все компоненты систем могут быть установлены как на саморезах так и полностью без сверления</strong>. Чаще всего используется вариант без сверления. Это очень упрощает монтаж и демонтаж, кроме того избавляет окна от лишних отверстий, 
            но по желанию заказчика компоненты систем могут быть укреплены саморезами (например, при использовании плотных тяжелых тканей или большой площади окна).
        </p>

        <p>
            <strong>Механизмы систем выполнены съемными</strong>, как в случае системы с коробом и направляющими, так и без них. Это решает вопрос с доступом к створкам окна во время уборки:
        </p>
        <div class="triptych">
            <div style="width: 100%;">
                <a href="/Content/Images/Illustrations/main3.jpg" target="_blank">
                    <img src="/Content/Images/Illustrations/main3.jpg" alt="снятие короба" height="250"/>
                    <p>короб снимается одним движением</p>
                </a>
            </div>
            @*<div style="width: 50%;">
                <a href="/Content/Images/Illustrations/main4.jpg" target="_blank">
                    <img src="/Content/Images/Illustrations/main4.jpg" alt="снятие рулона" height="250"/>
                    <p>рулон системы без короба легко отсоединяется</p>
                </a>
            </div>*@
        </div>
        
        <p>
            <strong>Все несущие элементы системы металлические</strong>. Короб, кронштейны, направляющие, труба рулона и т.д. выполнены из алюминия, что гарантирует надежность и защищает их от коррозии.
            А благодаря форме несущих элементов возможность установки системы на окно не зависит от глубины и формы штапика. 
        </p>

        <p>
            <strong>Штора может быть поднята на любую высоту</strong>. Управление осуществляется при помощи цепочки.
        </p>
        <div class="triptych">
            <div style="width: 100%;" >
                <a href="/Content/Images/Illustrations/main5.jpg" target="_blank">
                    <img src="/Content/Images/Illustrations/main5.jpg" alt="3 положения" height="250"/>
                    <p>штора фиксируется в<br/>промежуточных положениях</p>
                </a>
            </div>
        </div>

        @*<div class="header">
            <h2 style="width:100%; text-align:center;">Классические рулонные шторы на оконный проем</h2>
            <div class="subheader"></div>
        </div>

        <p>
            Мы предлагаем клиентам также <strong>классические рулонки для установки на оконный проем</strong>. Чаще всего они используются на высоких Т-образных окнах, имеющих над открывающимися створками еще одну глухую.
        </p>
        <p>
            Рекомендуется использовать именно такую систему, если окно состоит больше чем из двух створок разных размеров. В таких случаях одно полотно смотрится лучше, чем разноразмерная "нарезка".
        </p>
        <p>
            Часто классическую штору используют в дизайне интерьера, чтобы сбалансировать различные сложные формы простой поверхностью.
        </p>

        <div class="triptych">
            <div style="width: 100%;" >
                <a href="/Content/Images/Illustrations/main6.jpg" target="_blank">
                    <img src="/Content/Images/Illustrations/main6.jpg" alt="классическая штора" height="250"/>
                    <p>классическая штора<br/>на высоком окне</p>
                </a>
            </div>
        </div>

        <br/><br/><br/>

        <p>
            Предлагаем посетителям сайта самостоятельно рассчитать цены на шторы всех систем: <a href="/Constructor/?t=lux">классическая штора</a>, <a href="/Constructor/?t=compact">компактная система</a> 
            и <a href="/Constructor/?t=eco">система с коробом и направляющими</a>
        </p>*@

        <br/><br/><br/>

        <p>
            Виды рулонных штор, которые Вы можете заказать у нас. <a href="/Systems">Подробнее...</a>
        </p>

        <br/><br/>

    </div>

</div>

<div class="sidebar">
    
    @ConstructorHtmlHelpers.VisitCard()

</div>
<div class="clear"></div>
