h2 {float:left; display: block; width: 100%; font: bold 15px/15px Arial, sans-serif; color: #c86b28; margin: 0px 0px 10px 15px;}
.block {float:left; display: inline; width: 200px; height: 300px; margin: 5px 0px 5px 38px; overflow: hidden;}
    .block .icon {float:left; display: block; height: 150px; margin-bottom: 10px; overflow: hidden;}
    .block .icon img {float:left; display: block; width: 100%; height: 100%;}
    .block .icon .mask {position: relative; height: 100%; width: 100%;  background: url(../images/inputs/item_icon.png) 0px 0px no-repeat;}
    .block p {text-align: left; font: 12px/15px Arial, sans-serif; color: #777; }
    .block .ItemName {font-size: 15px;}
    .block .ItemPrice {font-weight:bold; color: #c86b28;}
    .block .ItemDescription {font-style: italic;}
    .block .tags a {float:left; display: inline; margin: 2px 5px 2px 0px; text-decoration: underline; font: 10px/10px Arial, sans-serif; color: #777; }
        .block .tags a:hover {text-decoration: none; color: #c86b28;}

#clothhelp {width: 188px; margin-left: 22px;}
    #clothhelp .body .m p {text-align: justify; text-indent: 10px;}
    #clothhelp .body .m a {text-decoration: underline; color: #777;}
        #clothhelp .body .m a:hover {text-decoration: none; color: #c86b28;}