@using MvcApplication1.Models

@{
    ViewBag.Title = "Минимальная сумма заказа";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/SiteLayout.cshtml";
}

@{
    ConstructorModel constructor = (ConstructorModel)ViewData["constructor"];
}

<div class="mainPageB">
    
    <div class="textfield">

        <div class="header">
            <h1>@ViewBag.Title</h1> | <a href="/Home">Главная</a>
        </div>
        <div class="subheader"></div>

        <p>
            Понятие <strong>минимальной суммы заказа</strong> существует чтобы оптимизировать наше производство и работу установщика. На данный момент минимальная сумма составляет @constructor.Model.MinPayment рублей.
        </p>
        <p>
            Обычно общая стоимость заказанных изделий больше этой суммы. Но когда окна на объекте небольшие (мансарды, подвалы, транспортные средства)
            или в интерьере больше подходит ткань нижнего ценового диапазона, необходимо сделать дополнительный заказ.
        </p>
        <p>
            Вы можете заказать <strong>шторы в другие помещения</strong>. Это самый распространенный случай, так как половина наших клиентов всё-равно возвращаются через некоторое время, чтобы оформить оставшиеся окна. 
        </p>
        <p>
            Часто можно договориться с соседями о <strong>совместном заказе</strong>. Такой заказ позволяет получить дополнительную скидку 5% для всех участников. По нашим наблюдениям самые организованные соседи
            состоят в ТСЖ заселяемых жилых комплексов.
        </p>
        <p>
            Вы можете заказать <strong>запасное полотно</strong> из той же или любой другой ткани, чтобы менять оформление окон по Вашему желанию. Конструкция штор позволяет менять рулон с тканью. Случается, что 
            сложно сделать выбор между двумя понравившимися образцами, в таких случаях мы советуем - закажите два полотна и чередуйте их. Цена дополнительного рулона в сборе (из той же ткани) 
            составляет 0,6 стоимости шторы.
        </p>

        <p>
            @ConstructorHtmlHelpers.Service()
        </p>

    </div>

</div>

<div class="sidebar">

    @ConstructorHtmlHelpers.VisitCard()

</div>

<div class="clear"></div>
