@{
    ViewBag.Title = "Виды систем рулонных штор и их отличия";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/SiteLayout.cshtml";
}

<div class="mainPageB">
    
    <div class="textfield">

        <div class="header">
            <h1>@ViewBag.Title</h1> | <a href="/Home">Главная</a>
        </div>
        <div class="subheader"></div>

        <p>
            Предлагаем Вашему вниманию системы рулонных штор, предназначенные для установки на любые современные пластиковые, деревянные или алюминиевые окна. 
        </p>

        <p>
            Системы разделяются на несколько типов. Несмотря на некоторую разницу в цене, при выборе системы нельзя ориентироваться только на стоимость шторы. 
            Каждая система имеет набор качеств, которые определяют окончательный выбор.
        </p>

        <p>
            По умолчанию мы рекомендуем <strong>Систему с коробом и направляющими</strong>. Она подходит для 90% случаев. Вы можете самостоятельно рассчитать цену на эту систему с помощью <a href="/Constructor/?t=eco">калькулятора</a>.
        </p>

        <br/><br/>

        <p>
            <strong>Система для установки на оконный проем (Lux) - это классическая рулонная штора</strong>. Чаще всего она используется на высоких Т-образных окнах, имеющих над открывающимися створками еще одну глухую.
        </p>

        <div class="triptych">
            <div style="width: 100%;" >
                <a href="/Content/Images/Illustrations/syst2.jpg" target="_blank">
                    <img src="/Content/Images/Illustrations/syst2.jpg" alt="классическая рулонная штора" height="250"/>
                </a>
            </div>
        </div>

        <p>
            Также мы всегда рекомендуем использовать именно такую систему, если окно состоит больше чем из двух створок разных размеров. В таких случаях одно полотно смотрится лучше, чем разноразмерная "нарезка".
            Часто классическую штору используют в дизайне интерьера, чтобы сбалансировать различные сложные формы простой поверхностью.
        </p>

        <p>
            <strong>Системы для установки на створки (Eco и Compact)</strong>, как следует из названия закрепляются вплотную к оконной раме. За счет этого они лучше защищают от солнца и позволяют полностью закрыть обзор с улицы.
            Они идеально сочетаются с классическими шторами, а также отлично смотрятся отдельно, как единственный элемент оформления окна. В последнем случае они позволяют визуально увеличить площадь помещения за счет
            откосов и ниши окна. Расположенные вплотную к сторкам рулонки позволяют размещать крупные комнатные растения на подоконниках.
        </p>

        <div class="triptych">
            <div style="width: 100%;" >
                <a href="/Content/Images/Illustrations/syst1.jpg" target="_blank">
                    <img src="/Content/Images/Illustrations/syst1.jpg" alt="виды систем" height="250"/>
                </a>
            </div>
        </div>

        <p>
            <strong>Компактная система без короба и направляющих (Compact) проще и дешевле</strong>. При её изготовлении не используются алюминиевые профили. Отсутствием 
            вертикальных направляющих объясняется принцип расчета окончательной стоимости шторы - на цену влияет только ширина окна, в отличие от системы с коробом,
            где цена рассчитывается исходя из площади окна. Отсутствие короба и направляющих делает такую штору менее громоздкой, в сложенном состоянии она выглядит
            просто как небольшой рулон, закрепленный вверху створки окна. Но складывать её нужно аккуратнее, чтобы полотно укладывалось в рулон ровно - тогда как в 
            системе с направляющими сама система укладывает ткань.
        </p>

        <p>
            Отсутствие направляющих уменьшает площадь крепления рулонной шторы, поэтому такую систему желательно крепить саморезами. Небольшие саморезы 3x12, 
            позволяющие свести размер высверливаемых отверстий к минимуму, входят в комплект.
        </p>

        <p>
            <strong>Система с коробом и направляющими (Eco) дороже, но более совершенна</strong>. В первую очередь её преимущество заключается 
            в плотном прилегании полотна к створке, ткань не болтается при открытии шторы на любую высоту. При сквозняке не могут образовываться щели между полотном и оконной рамой, поэтому ни один яркий солнечный луч не сможет
            проникнуть в команту и разбудить или ослепить жителей квартиры.
        </p>

        <p>
            Данная система крепится на высокоадгезионный двусторонний скотч по всей длине направляющих, что очень упрощает монтаж и демонтаж, кроме того избавляет
            окна от лишних отверстий.
        </p>

        <p>
            Направляющие и короб окрашены в белый цвет (есть также несколько вариантов окраски под дерево), и с расстояния свернутая штора становится незаметной на окне.
            Механизм шторы и кронштейны полностью маскируются коробом, который также защищает рулон от пыли.
        </p>

        @*<p>
            Предлагаем посетителям сайта самостоятельно рассчитать цены на шторы всех систем: <a href="/Constructor/?t=lux">классическая штора (Lux)</a>, <a href="/Constructor/?t=compact">компактная система (Compact)</a> 
            и <a href="/Constructor/?t=eco">система с коробом и направляющими (Eco)</a>
        </p>*@

        <p>
            @ConstructorHtmlHelpers.Service()
        </p>

    </div>

</div>

<div class="sidebar">

    @ConstructorHtmlHelpers.VisitCard()

</div>

<div class="clear"></div>
